*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Roboto Slab', serif;
  transition: .3s;
}

body{
  background-color: #afaaaf;
}